version: '3.8'

include:
  - docker-compose.base.yml

services:
  web:
    environment:
      - DIGITAL_EARTH_WEB_CESIUM_ION_ACCESS_TOKEN
    volumes:
      - ../apps/web/public/config.prod.json:/usr/share/nginx/html/config.template.json:ro

  api:
    environment:
      - DIGITAL_EARTH_ENV=prod
      - DIGITAL_EARTH_DB_PASSWORD=${DIGITAL_EARTH_DB_PASSWORD}
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 4G
